
.header {
    background-color: #F9F8F4;
    padding: 25px 0;
    font-family: europa;
    display: block;
  }

.container {
  display: flex;
  justify-content: space-around;
}

.header .header_menu { 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: -60px;
  gap: 50px;  /*important */
  position: relative
}

.header .logo {
  font-weight: bold;
}

.header .about {
  font-weight: bold;
}

.header a {     /* delete stupid underline*/
  color:#111;
  text-decoration: none;
  background: none;
  border-bottom: 0;
  padding-right: 00;
  transition: all 0.3s;
  border-bottom: 0px solid transparent;
  margin-left: 26px;
  margin-right: 26px;
  font-size: 16px;
}

.header a:hover{
  color: grey;
}
/* i want to change paragraph margin but nothing change*/
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 730px;
}

h2{
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 730px;
  color: #3F3844;
}

.main {
  padding-right: 27px;
  padding-left: 27px;
  padding: 20px;
  margin: 0 auto;
} 

.about_content{
  display: flex;
  flex-direction: column;
  
}

.pic_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}